#root {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #f2f2f2;
}

.navbar {
  background-color: #141e27 !important;
  padding: 1rem;
}


.intro-section {
  background-color: #141e27;
  color: #ffffff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: 'Muli';

  .intro-text-container {
    text-align: left;
    margin: 0 auto;
    width: 70rem;

    h1 {
      font-size: 4rem;
    }

    .contact-buttons {
      color: #bb5c4e;
      margin: 1rem 0;

      .react-icons {
        font-size: 2rem;
        margin-right: 1rem;
      }

      .react-icons:hover {
        color: #c2c2c2;
      }
    }

    p {
      font-size: 1.2rem;
      max-width: 30rem;
    }
  }

}


.body-section {
  margin: 1rem auto;
  max-width: 70rem;

  .section-heading-container {
    display: flex;
    margin-bottom: 2rem;

    h2 {
      font-size: 2.3rem;
      font-weight: bold;
    }
  }

  .skills-section {
    display: flex;
    margin-bottom: 4.5rem;

    .image-container {
      padding-right: 2rem;

      .portrait-image {
        width: 22rem;
        height: 25rem;
      }
    }

    .skills-content-container {
      display: flex;
      flex-direction: column;

      .skills-badge-list {
        text-align: left;
        font-family: 'Muli';

        span {
          font-size: 1.2rem;
          margin: 0 0.1rem 1rem;
          border-radius: 0 !important;
        }

        margin-bottom: 1.5rem;
      }

      .short-bio-container {
        text-align: left;

        h3 {
          font-weight: bold;
          font-size: 1.6rem;
        }

        p {
          font-size: 1.2rem;
          font-family: 'Muli';
        }

        a {
          color: #e56c58 !important;
          font-weight: bold;
          font-size: 1.2rem;
          text-decoration: none;
          font-family: 'Muli';
        }
      }
    }
  }

  .projects-section {
    margin-bottom: 4.5rem;

    .project-card {
      text-align: left;

      .project-role-container {
        display: flex;
        margin-bottom: 0.5rem;

        small {
          font-size: 1rem;
          font-family: 'Muli';
        }
      }

      .project-info-container {
        display: flex;
        margin-bottom: 2.5rem;

        .project-text-container {
          display: flex;
          flex-direction: column;

          h3 {
            font-weight: bold;
          }

          .project-skills-badge-list {
            span {
              font-size: 0.8rem;
              font-family: 'Muli';
              margin: 0 0.1rem 1rem;
              border-radius: 0 !important;
            }
          }

          p {
            font-size: 1.4rem;
            font-family: 'Muli';
          }

          a {
            margin-top: 1.5rem;

            .btn {
              background-color: #e56c58 !important;
              border-color: #e56c58 !important;
              color: #ffffff !important;
              padding: 0.8rem 1.8rem;
              font-size: 1.4rem;
              font-weight: bold;
              border-radius: 0;
              font-family: 'Muli';
            }
          }
        }

        .project-image-container {
          padding-left: 8rem;

          .project-image {
            width: 25rem;
            height: 20rem;
          }
        }
      }



    }
  }

  .contact-heading-container {
    margin: 1rem 10rem;
    h2 {
      font-weight: bold;
      font-size: 2rem;
    }
  }

  .contact-section {
    margin: 0 10rem;

    form {
      display: flex;
      flex-direction: column;

      .form-group {
        text-align: left;
        
        label {
          font-family: 'Muli';
        }

        input {
          border-radius: 0;
          border: none;
          background-color: #f2f2f2;
        }

        input:focus {
          border-style: none;
          outline: none;
          box-shadow: none;
        }

        .underline {
          height: 2px;
          margin-bottom: 3rem;
          background: linear-gradient(to left, #c2c2c2 50%, black 50%);
          background-size: 200%;
          background-position: right bottom;
          transition: background-position 0.4s ease-out;
        }

        input:focus+.underline {
          background-position: left bottom;
        }
      }

      .btn {
        background-color: #e56c58 !important;
        border-color: #e56c58 !important;
        border-radius: 0;
        align-self: flex-start;
        font-size: 1.4rem;
        font-weight: bold;
        font-family: 'Muli';

        display: flex;
        align-items: center;
        padding: 0.8rem 1.6rem;

        .react-icons {
          margin-right: 0.3em;
        }
      }
    }


  }
}